@model CenedexUniversityWebSystem.Models.SubMenuAfterDeleteAuditLog

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubMenuAfterDeleteAuditLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubMenuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubMenuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubMenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubMenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubMenuUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubMenuUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainMenuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainMenuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
